body {
  font-family: 'arial black';
  color: #404040;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;Stanley Park, Vancouver, BC, Canada
  height: 100%;
  overflow-x: hidden;
}

h2 {
  margin: 5px 0;
}

#wrapper {
  width: 650px;
  margin: 0 auto;
  background: white;
  padding: 0px 20px;
  border-radius: 10px;
  opacity: 1;
}

input {
  margin: 5px 10px;
}
button {
  font-family: 'arial black';
  font-size: 20px;
  padding: 20px;
  margin: 20px 0;
  color: #666666;
  border: none;
  border: solid 4px #666666;
  border-radius: 15px;
  background: white;

  -webkit-transition:color 1s ease-in;
  -moz-transition:color 1s ease-in;
  -o-transition:color 1s ease-in;
  transition:color 1s ease-in;

  -webkit-transition:background-color 1s ease-in;
  -moz-transition:background-color 1s ease-in;
  -o-transition:background-color 1s ease-in;
  transition:background-color 1s ease-in;
}

#submit:hover{
  background-color: #666666;
  border: solid 4px white;
  color: white;
}

#reset:hover{
  background-color: #666666;
  border: solid 4px white;
  color: white;
}

div.background{
  background: url(https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg) no-repeat 50% 50%;
  display: table;
  margin: auto;
  height: 100%;
  width: 100%;
  opacity: 1;
  top: 0;
  background-size: cover;
}

div.transbox{
  margin: 50px 150px;
  background-color: #ffffff;
  border: 4px solid #666666;
  opacity: 0.6;
  border-radius: 15px;
}
